[submodule "extern/lrsnash"]
	path = cpp/extern/lrsnash
	url = https://github.com/lab-oak/lrsnash
[submodule "extern/engine"]
	path = cpp/extern/engine
	url = https://github.com/lab-oak/engine
[submodule "extern/argparse"]
	path = cpp/extern/argparse
	url = https://github.com/lab-oak/argparse
[submodule "extern/eigen"]
	path = cpp/extern/eigen
	url = https://github.com/lab-oak/eigen
[submodule "cpp/extern/pybind11"]
	path = cpp/extern/pybind11
	url = https://github.com/pybind/pybind11.git
